*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container{
	margin-top: 0;
	width: 100%;
	height: auto;
	background-color: #fff;
}

.main{
	
	background-color: #000000;
	border: 1px solid black;
	margin-top: 0;
	opacity: 1.5;
	color: darkgrey;
}

nav{
	margin-top: 0;
	width: 100%;
	height: 100px;
	background-color:skyblue;
	position: fixed;
	opacity: 75%;
}

nav ul{
	float: right;
	background-color:skyblue;
	opacity: 15;
	height: 10px;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
	
}

nav ul li a{
	text-decoration: none;
	color: #3278fa;
	line-height: 100px;
	padding: 35px 10px;
	font-size: 13px;
	letter-spacing: 5px;
	
}

.logo{
	color:  #00cc7a;
	float: left;
	line-height: 100px;
}

.slider{
	width: 100%;
	height: 630px;
	background-image: url(../img/25.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
}

.slider .title{
	width: 40%;
	height: auto;
	position: absolute;
	left: 18.5%;

}

.slider .title h1{
	font-size: 57px;
	color: #fff;
	line-height: 65px;
}

.slider .title h1 span{
	color:  #01d7a7 !important;
}

.slider .title p{
	font-size: 18px;
	color: #fff;
	line-height: 1.5;
	margin-top: 15px;
	padding-right: 20px;
}

.slider .title .btn{
	color: #fff;
	background-color: #01d7a7;
	border-radius: 3px;
	padding: 16px 36px;
	text-align: center;
	letter-spacing: 0.5px;
	text-decoration: none;
	margin-right: 10px;
	line-height: 26px;
	display: inline-block;
	font-size: 16px;
	margin-top: 15px;
	transition: 0.3 all; 
}

.slider .title .btn:hover{
	background-color: #272727;
}

.flex-container{
	margin-top: 80px;
	clear: both;
	float: left;
}

.main .flex-container .flex-items{
	width: 20%;
	display: inline-block;
	text-align: center;
	margin-left: 46px;
	border-style: groove;
	border-radius: 15px 15px;
}

.main .flex-container .flex-items h5{
	font-size: 18px;
	letter-spacing: 0.5px;
	margin: 20px 0px;
	border: 1 px solid black;
	
}

.main .flex-container .flex-items p{
	color: #727272;
}

.main .flex-container .flex-items .text-blue{
	font-size: 40px;
	color:  #3278fa;
}

.flex-items2{
	width: 33.06%;
	height: auto;
	float: left;
	padding: 0 15px;
	border-style: groove;
	border-radius: 15px 15px;
}

.flex-items2 h6{
	letter-spacing: 3px;
	font-size: 16px;
	margin-bottom: 15px;
	color: #3278fa;
}


.flex-items2 h3{
	color: #272727;
	font-size: 27px;
	line-height: 35px;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
}

.flex-items2 .read{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	border: 1px solid #272727;
	background-color: #272727;
	padding: 10px 25px;
	transition: 0.3s all;
	border-radius: 20px;
}

.flex-items2 p{
	padding-bottom: 40px;
	color: rgb(114,114,114);
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 23px;
}

.flex-items2 .zoom img{
	max-width: 100%;
}

.title-line{
	width: 30px;
	border-bottom: 3px solid #3278fa;
	text-align: center;
}

.margin-top{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.para{
	color: white;
	width: 83.333%;
	padding-right: 20px;
	padding-left: 20px;
	float: right;
	margin-top: 8px;
}

.margin-top-1{
	float: left;
	margin-top: 10px;
	width: 100%;
}

.We-Care-For-Your-Health{
	width: 100%;
	padding: 72px 0px 72px 0px;
	background-image: url(../img/4.jpg);
	background-size: cover;
	clear: both;
	float: left;
}

.We-Care-For-Your-Health .heading h2{
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 20px;
	letter-spacing: 0.5px;
	text-align: center;
	color: green;
}

.We-Care-For-Your-Health .heading p{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	line-height: 25px;
	color:  #000000;
}

.We-Care-For-Your-Health .col-1{
	width: 33.333%;
	float: left;
	padding: 0 15px;
	margin-top: 60px;
	border-style: groove;
	border-radius: 13px 13px ;
}

.We-Care-For-Your-Health .col-1 img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
	
}

.We-Care-For-Your-Health .col-1 .text-box{
	padding: 10%;
	background-color: #f3f3f3;
	width: 100%;
	text-align: center;
}

.We-Care-For-Your-Health .col-1 .text-box h4{
	margin-bottom: 9px;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 25px;
	letter-spacing: 0.5px;
}

.We-Care-For-Your-Health .col-1 .text-box p{
	color: #727272;
	line-height: 23px;
	text-align: center;
	margin: 0  0 10px;
	font-size: 14px;
}

.full-dark{
	width: 100%;
	padding: 72px 0 72px 0;
	background-color: #121212;
	float: left;
	clear: both;
}

.full-dark .col-md-1{
	width: 33.333%;
	float: left;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 40px;
}

.full-dark .col-md-1 .icon{
	float: left;
	margin: 0px 20px 0px 0px;
	color: #3278fa !important;
	font-size: 32px;
}

.full-dark .col-md-1 .text-box-1{
	padding: 0px 0px 0px 60px;
	display: block;
}

.full-dark .col-md-1 .text-box-1 h5{
	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #fff;
	margin-bottom: 5px;
}

.full-dark .col-md-1 .text-box-1 p{
	font-size: 14px;
	margin: 0px 0px 10px;
	line-height: 23px;
	color: #fff;
	opacity: 0.5;
}

